
* {
    font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
    box-sizing: border-box;



}
h1 {
    font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
    font-size: 50px;
    color: #51453B;
    line-height: 60px;
    font-weight: 300;
}

h2 {
    font-size: 24px;
    color: #42C3C9;
    line-height: 29px;
}

h3 {
    font-size: 18px;
    color: #5a5c51;
    line-height: 23px;
    text-align:center;                 
}
 p {
    font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #7B7573;
    line-height: 24px;
    font-weight: 400;
 }

 strong {
    font-size: 16px;
    color: #7B7573;
    line-height: 24px;
 }

 a {
    font-size: 14px;
    color: #0093B9;
    line-height: 17px;
 }
 header
 {

 }
 img
 {
    width:50%;
    border="0" alt="Null"
 }

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    color:#5a5c51;
}

.col-25 {
    float: left;
    width: 15%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 85%;
    margin-top: 6px;
}


 .button {
    background-color: #ba9077; 
    border: none;
    color: white;
     padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    float: right;
    cursor: pointer;
}
.button:hover {
    background-color: #5a5c51;
}

 .column {
    float: left;
    width: 50%;
    padding: 10px;
   background-color:#ba9077;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 600px) {
    .col-25,.col-75, .button {
        width: 100%;
        margin-top: 0;
    }
}