{% include "header.html" %}

<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="row">
 <div class="column">
<a href = "/catalog/new/"> Add a new Category</a>
<h2> Catgories</h2>
{% for i in category %}
<nav>
	<ul>
	<a href= "/catalog/{{i.id}}/">{{i.title}}</a>
</ul>
</nav>
{% endfor %}
 </div>


 <div class="column">
<h2> Latest Items</h2>
{% for i in latestitems %}
<nav>
	<ul>
	<a href= "/catalog/{{i.category_id}}/{{i.id}}/">{{i.title}}</a> <font size="2">({{i.cattitle}})</font>
</ul>
</nav>
{% endfor %}
</div>

</div>
</body>
</html>

