{% include "header.html" %}

<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<form action="/catalog/{{category_id}}/edit/" method = 'POST' class="form">
<h3> Edit {{editcate.title}}</h3>
<dl>
 <div class="roww">
	<div class="col-10">
        <label for="lname">Title</label>
      </div>
      <div class="col-90">
	<dd><input type ='text'  placeholder="{{editcate.title}}" name='title' required></dd>
</div>
</div>
</dl>
 <div class="roww">
<input type='submit' class="button" value='Edit'>
</div>

</form>

</body>
</html>