{% include "header.html" %}

<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<h1> Edit this item</h1>
<div class = 'pane'>

<form action= "/catalog/{{category_id}}/{{item_id}}/edit/" method = 'POST'>


<dl>
	<dt>Title:</dt>
		<dd><input type ='text' size='30' name='title' ></dd>
    <dt>Description:</dt>
        <dd><textarea name = 'description' rows='5' cols='40' ></textarea></dd>
    <dt>Image Link:</dt>
        <dd><input type = 'text' size = '30' name='img' ></dd>
</dl>

<input type='submit' value='Edit'>

</form>
</div>

</body>
</html>