{% include "header.html" %}
<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>


<div class="roww">
 <div class="column">
<h2> Catgories</h2>
{% for i in categoryall %}
<nav>
	<ul>
	<li><a href= "/catalog/{{i.id}}/">{{i.title}}</a></li>
</ul>
</nav>
{% endfor %}
</div>

 <div class="column">
<h2> {{category.title}}</h2>
{% for i in items %}
<nav>
	<ul>
	<li><a href= "/catalog/{{category.id}}/{{i.id}}/">{{i.title}}</a></li>
</ul>
</nav>
{% endfor %}
</div>


</div>
</body>
</html>